body{
    background:radial-gradient(#0288d1, #01579b);
    height:100vh;
    font-family: "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    align-items: center;
    color:white;
    text-decoration: none;
    text-transform: capitalize;
    border: 2px solid white;
    border-radius: 4px;
    padding: 15px 30px;
    position: relative;
}
span{
    border: 2px solid white;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    padding: 5px 10px;
    top:-6px;
    right:-6px;
}