body, button{
    background-color: #463d36;
    font-family: sans-serif;
    margin-left: 40px;
    
}
.box{
    margin: 100px auto;
    width:40%;
    height:20%;
    background-color: white;
    border-radius: 20px;
    color: #463d36;
    padding: 40px;
}
h4{
    font-size: 28px;
    color: #a6192e;
    margin-bottom: 0;
}
p{
    font-size: 28px;
}
h2{
    font-size: 40px;
    margin-bottom: 28px;
    margin-top: 0;
    font-weight: lighter;
}
button{
    font-size: 24px;
    margin-bottom: 40px;
    padding: 30px 40px;
    color:white;
    font-weight: bold;
}

