body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.btn{
    border:2px solid red;
    border-radius: 25px;
    text-decoration: none;
    padding:20px 40px;
    position: relative;
    overflow: hidden;
}
.btn::before{
    content:"";
    width:100%;
    height:100%;
    background-color: pink;
    position: absolute;
    top:0;
    left:0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: -1;
}
.btn:hover::before{
    transform: translateX(0);


}