h1{
    color: rgb(255,0,0);
}
h2{
    color : rgb(0,0,255);
}
h3{
    color : #0f0;
}
button{
    background-color: #000;
    color: #fff;
}
p{
    background-color: rgba(0,0,255,0.5);
}
div{
    background-color: orange;
    opacity: 50%;
}