body{
    padding: 0;
    margin: 0;
    font-family: 'Forum', cursive;
}
.hero{
    background-color: #f08e80;
    min-height:90vh;  /*needs to be understood*/
    color:white;
    display: inline-block;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 24px 32px;
    box-sizing: border-box;
}
.navbar .links a{
    color: white;
    text-decoration: none;
    margin-right: 16px;
    font-size: 1.2rem;
}
.navbar p{
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}
.navbar .Contact{
    background-color: white;
    text-decoration: none;
    padding: 16px, 24px;
    color:#f08e80;
}
.navbar .Contact:hover{
    opacity: 0.8;
}
.hero_content{
    padding: 0 15%;
}
.tagline{
    color: white;
    padding: 32px 0;
    letter-spacing: 2px;
    font-size: 4.5rem;
}
.column-section{
    font-size: 2rem;
}
.column-section p{
    float:left;
    width:50%;
    box-sizing: border-box;
}
.column-section .skills{
    float: left;
    width:50%;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}
.column-section .skills li{
    width:50%;
    float:left;    
    font-size: 1.25rem;
    margin: 8px 0;
}
